*{
    box-sizing: border-box;
}
body{
    color: #FFFFFF;
    background-color: #dee3f9;
}
.heading_container{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #dee3f9;
}
.teamdetails{
    display: flex;
    width: 55%;
    height: 10vh;
    background-color: #478CCF;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    padding: 0 3%;
}
.timer, .packetcounter{
    text-align: center;
    border-radius: 30px;
    height: 10vh;
    width: 20%;
    background-color: #478CCF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    border-radius: 100%;
}
.datapoints_container{
    width: 65%;
    margin: 0 1em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.datapoints{
    height: 17vh;
    width: 15vw;
    background-color: #478CCF;
    border-radius: 10px;
    margin: 1.5vh 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.dataval{
    color: black;
    background-color: #FFFFFF;
    margin: 0 0.8em;
    border-radius: 20px ;
    text-align: center;
    max-height: 3em;
}
.dataval h1{
    margin: 0.3em;
}
.dataques{
    padding: 0 0.2em;
    margin: 0.2em 0.4em;
    margin-bottom: 0;
}
.datapoints button{
    margin: 0 0.8em;
    border-radius: 20px ;
    height: 2.2em;
    font-size: 1.3em;
}
.status{
    color: #FFFFFF;
    background-color: #A93434;
    margin: 0 0.8em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 2.8em;
}
.test{
    padding-top: 5em;
    display: flex;
}